<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="logfile" type="xsi:File" fileName="logs.txt" />
        <target name="logconsole" type="xsi:ColoredConsole" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="logconsole" />
        <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="logfile" />
    </rules>
</nlog>
